[submodule "thirdparty/raylib"]
	path = thirdparty/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "thirdparty/fmt"]
	path = thirdparty/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "thirdparty/entt"]
	path = thirdparty/entt
	url = https://github.com/skypjack/entt.git
[submodule "thirdparty/glm"]
	path = thirdparty/glm
	url = https://github.com/g-truc/glm.git
[submodule "thirdparty/rlImGui"]
	path = thirdparty/rlImGui
	url = https://github.com/raylib-extras/rlImGui.git
[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "thirdparty/lua"]
	path = thirdparty/lua
	url = https://github.com/lua/lua.git
[submodule "thirdparty/zep"]
	path = thirdparty/zep
	url = https://github.com/Rezonality/zep.git
